<footer id="footer">
    <div id="company-name">
        @ Pratik Dutta
    </div>
    <div id="links">
        <div>
            <a href="/users/profile">Profile</a>
        </div>
        <div>
            <a href="/">Home</a>
        </div>
        
    </div>
</footer>