<link rel="stylesheet" href="/css/signin.css">

<form action="/users/create-session" method="POST">

    <div class="signin">

        <div id="email-section">
            <label for="email">Email Id : </label>
            <input type="email" name="email" id="email" placeholder="Email Id" required>
        </div>
        <div id="password-section">
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div id="signin-button-section">
            <input type="submit" name="submit" id="submit" value="Log In">
        </div>
    
    </div>

</form>

