#main-layout{
    height: 100%;;
}
#head-layout{
    background-color: rgb(123, 123, 211);
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    #heading{
        font-size: 1.5rem;
        margin-left: 10px;
    }
    ul{
        list-style: none;
        display: flex;
        margin: 0px 20px 0px auto;
        li{
            float: right;
            display: flex;
            margin-left: 10px;
        }
        a{
            color: white;
        }
    }
}