#footer {
  height: 80px;
  background-color: #7b7bd3;
  display: flex;
}

#footer #company-name {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 10px 0px 0px 10px;
  color: white;
}

#footer #links {
  margin: 10px 0px 0px 40px;
  font-size: 1.1rem;
}

#footer #links div {
  margin-bottom: 10px;
}

#footer #links a {
  color: white;
}
