#home-main-container {
  display: flex;
  flex-direction: column;
}

#home-main-container #title {
  display: flex;
  justify-content: center;
}

#home-main-container #home-container {
  display: flex;
}

#home-main-container #feed-posts {
  padding: 10px;
  width: 70%;
}

#home-main-container #user-friends {
  padding: 10px;
  border-left: 1px solid lightblue;
}
